{% block vector_layers %}

<script>

///////////////////////////
////// Vector Layers //////
///////////////////////////

            function popupFunc(feature, layer) {
                var popupContent = "";
                for (var k in feature.properties) {
                     var v = String(feature.properties[k]);
                     popupContent += "<strong>" + k + "</strong>" + ": " + v + "</br>";
                };
                return layer.bindPopup(popupContent);
            };

    var buff_bndry = new L.GeoJSON.AJAX('{% url "bmic_buffered_bndry" %}', {
        style: {clickable: true,
                fill: true,
		opacity: 0,
                fillOpacity: 0,
                zIndex: -100,
            },
    });

    var aoc_mi_stmarys = new L.GeoJSON.AJAX('{% url "bmic_aoc_mi_stmarys" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var boundary = new L.GeoJSON.AJAX('{% url "bmic_boundary" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
        onEachFeature: popupFunc
    });

    var ceded_territory = new L.GeoJSON.AJAX('{% url "bmic_ceded_territory" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var chippewa_cnty = new L.GeoJSON.AJAX('{% url "bmic_chippewa_cnty" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var chippewa_roads = new L.GeoJSON.AJAX('{% url "bmic_chippewa_roads" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var chippewa_streams = new L.GeoJSON.AJAX('{% url "bmic_chippewa_streams" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

/*    var chippewa_waterwells = new L.GeoJSON.AJAX('{% url "bmic_chippewa_waterwells" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });
*/

    var coastal_wetlands = new L.GeoJSON.AJAX('{% url "bmic_coastal_wetlands" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var comm_forst_ceded = new L.GeoJSON.AJAX('{% url "bmic_comm_forst_ceded" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var critical_dunes = new L.GeoJSON.AJAX('{% url "bmic_critical_dunes" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var e_hiawathanf = new L.GeoJSON.AJAX('{% url "bmic_e_hiawathanf" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var eup_state_parks = new L.GeoJSON.AJAX('{% url "bmic_eup_state_parks" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var golf_course = new L.GeoJSON.AJAX('{% url "bmic_golf_course" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var great_lakes = new L.GeoJSON.AJAX('{% url "bmic_great_lakes" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var ir_roads = new L.GeoJSON.AJAX('{% url "bmic_ir_roads" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var lake_sprior_grid = new L.GeoJSON.AJAX('{% url "bmic_lake_sprior_grid" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var mi_cntys = new L.GeoJSON.AJAX('{% url "bmic_mi_cntys" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var mi_lakes = new L.GeoJSON.AJAX('{% url "bmic_mi_lakes" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var mi_state_parks = new L.GeoJSON.AJAX('{% url "bmic_mi_state_parks" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var parcels = new L.GeoJSON.AJAX('{% url "bmic_parcels" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var pwr_syst_backup_2014 = new L.GeoJSON.AJAX('{% url "bmic_pwr_syst_backup_2014" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var railroad = new L.GeoJSON.AJAX('{% url "bmic_railroad" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var rivers = new L.GeoJSON.AJAX('{% url "bmic_rivers" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var snowmobile_trails = new L.GeoJSON.AJAX('{% url "bmic_snowmobile_trails" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var subwatersheds = new L.GeoJSON.AJAX('{% url "bmic_subwatersheds" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var waishkey_add_streams = new L.GeoJSON.AJAX('{% url "bmic_waishkey_add_streams" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var waishkey_ptnl_wtlnd_rstrn = new L.GeoJSON.AJAX('{% url "bmic_waishkey_ptnl_wtlnd_rstrn" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var waishkey_river = new L.GeoJSON.AJAX('{% url "bmic_waishkey_river" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var waiska_watershed = new L.GeoJSON.AJAX('{% url "bmic_waiska_watershed" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var wastewater_lines = new L.GeoJSON.AJAX('{% url "bmic_wastewater_lines" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var wellhead_protection = new L.GeoJSON.AJAX('{% url "bmic_wellhead_protection" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var wetland_preserve = new L.GeoJSON.AJAX('{% url "bmic_wetland_preserve" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var whitefish_bay_reserve = new L.GeoJSON.AJAX('{% url "bmic_whitefish_bay_reserve" %}', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });


////////////////////////////
////// Leaflet Map /////////
////////////////////////////

    map.setView(new L.LatLng(46.4188, -84.4149), 11);
    map.addLayer(boundary);

</script>

{% endblock vector_layers %}
