html, body, #sidebar, #container {
    height: 100%;
    margin: 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
    overflow-y: hidden;
}
body {
    padding-top: 50px;
}
label {
    font-weight: normal;
}
.table {
    margin-bottom: 0px;
}
#map {
    height: 100%;
    margin: 0px;
    -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
    box-shadow: 0 -1px 10px rgba(0,0,0,0.5);
}
#loading {
    position: absolute;
    width: 220px;
    height: 19px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -110px;
    z-index: 20001;
}
.navbar .navbar-brand {
    font-weight: bold;
    font-size: 22px;
    color: white;
    white-space: nowrap;
}
.navbar-collapse.in {
    overflow-y: hidden;
}
.tt-dropdown-menu {
    overflow: auto;
}
.tt-hint, .tt-query {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 4px;
}
.typeahead-header {
    margin: 0 5px 5px 5px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}
.search-container {
    width: 250px;
}
#searchbox {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.leaflet-popup-content {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.leaflet-popup-content-wrapper {
    border-radius: 5px;
}
.panel-heading a:hover {
    text-decoration: none;
}
@media (max-width: 992px) {
    .navbar .navbar-brand {
        font-size: 18px;
        float: left;
    }
    .search-container {
        width: 150px;
    }
    .leaflet-control-attribution {
        display: none;
    }
}
@media (max-width: 767px){
    .search-container {
        width: 100%;
    }
}

/* Print Handling */
@media print {
    .navbar, .toggle, #sidebar {
        display: none !important;
    }
}

	    .color-box {
		width: 20px;
  		height: 15px;
  		display: inline-block;
  		background-color: #040289;
		float: left;
		border: 1px solid;
		top: 10px;
	    }

	    .legLab {
		position: relative;
		top: -4px;
	    }

	    .tahoe-leg {
		position: relative;
		top: 10px;
	    }

/**************************************
 Oliver modified CSS below
 **************************************/

.nav-tabs>li>a {
    margin-right: 0px;
    padding: 10px 12px;
}

.upload-btn {
    color: #428bca;
    /*background-color: rgba(0, 0, 0, 0.05);*/
    background-color: rgba(0, 0, 0, 0.0);
    padding: 6px 10px 9px;
    /*border-width: 2px;*/
    border: none;
}

.upload-btn:hover {
    background-color: #428bca;
    color: white;
}

/***************************************
Styling for index.html (home page)
***************************************/

#index-home {
    background-color: rgba(255,255,255,0.7);
    padding: 6rem 2rem 2rem 2rem;
    height: 100%;
    right: 10rem;
    position: absolute;
}

#index-home h2{
    text-align: center;
    font-family: 'Oswald', Sans-Serif;
    text-transform: uppercase;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-size: 32px;
    font-weight: 500;
}

#index-home p{
    text-align: center;
    font-family: "Arial", Sans-Serif;
    font-weight: 400;
    font-size: 16px;
}

#index-home #logos{
    left: 50%;
    margin-left: -174px;
    position: absolute;
    bottom: 5;
    padding: 2rem;
}

#index-home a{
    bottom: 0;
}
