{% load leaflet_tags %}
{% load geojson_tags %}
<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.0.1.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/typeahead.js/typeahead.js-bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dist/leaflet.draw.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/opacity/Control.Opacity.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/jquery/jquery-ui-1.10.3.custom.min.css' %}">
    </head>

    <body>

        {% block side_bar %}{% endblock side_bar %}

        <script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/jquery-2.0.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/bootstrap-3.0.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/d3.v3/d3.v3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ajax_leaflet/leaflet.ajax.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'assets/typeahead.js/typeahead.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/leaflet.markercluster.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/colorbrewer/colorbrewer.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/src/Leaflet.draw.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/src/edit/handler/Edit.Poly.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/edit/handler/Edit.SimpleShape.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/edit/handler/Edit.Circle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/edit/handler/Edit.Rectangle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/edit/handler/Edit.Marker.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/src/draw/handler/Draw.Feature.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/draw/handler/Draw.Polyline.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/draw/handler/Draw.Polygon.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/draw/handler/Draw.SimpleShape.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/draw/handler/Draw.Rectangle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/draw/handler/Draw.Circle.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/draw/handler/Draw.Marker.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/src/ext/TouchEvents.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/ext/LatLngUtil.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/ext/GeometryUtil.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/ext/LineUtil.Intersect.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/ext/Polyline.Intersect.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/ext/Polygon.Intersect.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/src/Control.Draw.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/Tooltip.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/Toolbar.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/src/draw/DrawToolbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/edit/EditToolbar.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/edit/handler/EditToolbar.Edit.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/src/edit/handler/EditToolbar.Delete.js' %}"></script>

        <script type="text/javascript" src="{% static 'lib/opacity/Control.Opacity.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/jquery/jquery-1.9.1.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/jquery/jquery-ui-1.10.3.custom.min.js' %}"></script>

        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

        <script type="text/javascript" src="{% static 'leaflet-easyPrint/dist/leaflet.easyPrint.js' %}"></script>

        {% block layers %}{% endblock layers %}
 
    </body>
</html>
