<!DOCTYPE html>
<html lang="en">
   <head>
        <title>ILTF Webmapping Program</title>
        <meta charset="utf-8">
        <meta content="THe ILTF Webmapping Program is developed by the Spatial Informatics Group" name="description">
        <meta content="ILTF webmapping carbon land acquisition tamaya comanche" name="keywords">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome-4.7.0/css/font-awesome.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-3.0.1.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/MarkerCluster.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/typeahead.js/typeahead.js-bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'dist/leaflet.draw.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/opacity/Control.Opacity.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'lib/jquery/jquery-ui-1.10.3.custom.min.css' %}">
   </head>

   <!--body background="{% static 'img/iltf.jpg' %}"-->
   <body>
       <div class="bg">
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <p style="color:white; font-size: 32px; padding-top: 1rem; padding-left: 5rem; font-family: 'Oswald'">
                        <em>"Indian lands in Indian hands"</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div id="index-home" class="col-sm-4 col-lg-4">
                    <div>
                        <h2>Indian Land Tenure Foundation Webmapping Program</h2>
                        <p>The Indian Land Tenure Foundation Webmapping Program is a joint project between the Indian Land Tenure Foundation (ILTF) and the Spatial Informatics Group - Natural Assets Laboratory (SIG-NAL). The project seeks to facilitate the use of web-based geospatial technologies and data for enhanced land stewardship and informed decision making.</p>
                    </div>
                    <div id="logos" align="center">
                        <a href="https://iltf.org/"><img style="height: 40px;" src="{% static 'img/iltf_logo.png' %}"></a>
                        &nbsp
                        <a href="https://sig-nal.org/"><img style="height: 40px;" src="{% static 'img/SIG-NAL_Logo.png' %}"></a>
                    </div>
                </div>
            </div>
        </div>
   </body>
</html>
