{% extends 'base.html' %}
{% load static %}

{% block side_bar %}

    <!--title>Santa Ana Pueblo Land & Natural Assets Map</title-->

    <title>{{ title }}</title>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-collapse" style="height: 34px; padding: 5px 10px; margin-right: 10px;"><i class="fa fa-ellipsis-v" style="color: white"></i></button>
            <button id="toggle" type="button" class="navbar-toggle btn" style="height: 34px; padding: 5px 10px; margin-right: 10px;"><i id="toggleIcon" class="fa fa-check-square-o" style="color: white"></i></button>
            <a class="navbar-brand" href="http://www.tamaya-nsn.gov/index.html" target="_blank_">Pueblo of Santa Ana</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav pull-left">
                <a class="navbar-brand" href="#" style="font-size: 0.75m; color: gray;">Land & Natural Assets Map</a>
            </ul>
            <!--<ul class="nav navbar-nav pull-right">
                <a class="navbar-brand" href="/tamaya/admin/logout/" style="font-size: 18px; color: grey;">Log Out</a>
            </ul>-->
        </div>
    </div>

    <div class="row" id="container">
        <div class="col-sm-3 col-lg-3" id="sidebar" style="padding: 10px; overflow: auto;">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#layers" data-toggle="tab"><i class="fa fa-check-square-o"></i>&nbsp;Layers</a></li>
        	    <li><a href="#legend" data-toggle="tab"><i class="fa fa-barcode"></i>&nbsp;Legends</a></li>
        	    <li><a href="#download" data-toggle="tab"><i class="fa fa-download"></i>&nbsp;Data</a></li>
                <li><a href="#upload" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;Import</a></li>
            </ul>

            <div class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane active" id="layers">
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#admin-layers">
                                        Administrative Layers
                                </a>
                            </div>
                            <div id="admin-layers" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 0px 15px;">
                					<div class="checkbox">
                					    <label>
                                            <input type="checkbox" name="overlayLayers" id="boundary" z-index="1" checked>
                                                &nbsp Reservation boundary (approximate)
                                        </label>
                                    </div>
                					<div class="checkbox">
                					    <label>
                                            <input type="checkbox" name="overlayLayers" id="mbls" z-index="2" checked>
                                                &nbsp Master business leases
                                        </label>
                                    </div>
                					<div class="checkbox">
                					    <label>
                                            <input type="checkbox" name="overlayLayers" id="roads" z-index="3" checked>
                                                &nbsp Reservation roads
                                        </label>
                                    </div>
            				    </div>
            				</div>
                        </div> <!--Closes 'panel panel-default'-->
        			    <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#soil-layers">
                                    Soil Layers
                                </a>
                            </div>
                            <div id="soil-layers" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 0px 15px;">
                					<div class="checkbox">
                					    <label>
                                            <input type="checkbox" name="overlayLayers" id="bulkDens" z-index="3">
                                                &nbsp Bulk density
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="composting" z-index="3">
                                                &nbsp Composting, medium and final cover
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="org_matter" z-index="3">
                                                &nbsp Organic matter
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="soil_ph" z-index="3">
                                                &nbsp Surface pH, weighted average
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="taxonomy" z-index="3">
                                                &nbsp Taxonomic classification
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="texture" z-index="3">
                                                &nbsp Texture
                                        </label>
                                    </div>
            				    </div>
            				</div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#veg-layers">
                                        User-defined Layers
                                </a>
                            </div>
                            <div id="veg-layers" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 0px 15px;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="user_points" z-index="3">
                                                &nbsp User points
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="user_lines" z-index="3">
                                                &nbsp User lines
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="user_polygons" z-index="3">
                                                &nbsp User polygons
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
			    <!--<div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#veg-layers">
                                        Vegetation Layers
                            </a>
                        </div>
                        <div id="veg-layers" class="panel-collapse collapse in">
                            <div class="panel-body" style="padding: 0px 15px;">
					            <div class="checkbox">
            					    <label>
                                        <input type="checkbox" name="overlayLayers" id="landfire" z-index="99">
                                                &nbsp Existing vegetation type, LANDFIRE
                                    </label>
                                </div>
        				    </div>
        				</div>
                    </div> -->
    		            <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#imagery">
                                        Base Layers
                                </a>
                            </div>
                            <div id="imagery" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 0px 15px;">
                					<div class="radio">
                					    <label>
                                            <input type="radio" name="basemapLayers" id="recent"checked>
                                                &nbsp Digital Globe imagery, no roads
                                        </label>
                                    </div>
                                    <div class="radio">
                					    <label>
                                            <input type="radio" name="basemapLayers" id="hybrid">
                                                &nbsp Digital Globe imagery, with roads
                                        </label>
                                    </div>
                					<div class="radio">
                					    <label>
                                            <input type="radio" name="basemapLayers" id="topo">
                                                &nbsp Topography, ESRI
                                        </label>
                                    </div>
            				    </div>
        			        </div>
        			    </div> <!--Closes 'panel panel-default'-->
            			</br>
                    </div>  <!--Closes 'panel group'-->
                </div> <!--Closes id='layers'-->
    		    <div class="tab-pane" id="legend">
    		        <div class="panel-group">
        			    <h4><strong>Vegetation:</strong></h4>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#landfire-labels">
                                    Existing Vegetation Type, LANDFIRE:
                                </a>
                            </div>
                            <div id="landfire-labels" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 15px 15px;">
                				    <div>
                    					<p>The legend items are arranged in order of existing vegetation type of greatest total coverage within the reservation to least total coverage. The hectares (ha) of coverage as well as the percent of the total reservation area covered are given for each vegetation type in the parentheses. Official documentation on LANDFIRE's Existing Vegetation Type (EVT) data can be found <a href=http://www.landfire.gov/NationalProductDescriptions21.php>here</a>.</p>
                            			</br>
                    					<div class="color-box" style="background-color:#FFE987"></div><div class="legLab">&nbsp Sandy Plains Semi-Desert Grassland (13,885.6 ha; 35.24%)</div>
                    					<div class="color-box" style="background-color:#826548"></div><div class="legLab">&nbsp Big Sagebrush Shrubland (13,820.5 ha; 35.07%)</div>
                    					<div class="color-box" style="background-color:#967B59"></div><div class="legLab">&nbsp Stabilized Coppice Dune and Sand Flat Scrub (6,310.7 ha; 16.01%)</div>
                    					<div class="color-box" style="background-color:#FFCC33"></div><div class="legLab">&nbsp Semi-Desert Shrubland (6,244.6 ha; 15.85%)</div>
                    					<div class="color-box" style="background-color:#4A2C1D"></div><div class="legLab">&nbsp Mixed Desert and Thornscrub (3,134.1 ha; 7.95%)</div>
                    					<div class="color-box" style="background-color:#79FF5E"></div><div class="legLab">&nbsp Pinyon-Juniper Woodland (1,816 ha; 4.61%)</div>
                    					<div class="color-box" style="background-color:#593B28"></div><div class="legLab">&nbsp Mogolland Chaparral (1,620.9 ha; 4.11%)</div>
                    					<div class="color-box" style="background-color:#0000FF"></div><div class="legLab">&nbsp Open Water (700.4 ha; 1.78%)</div>
                    					<div class="color-box" style="background-color:#9EAAD7"></div><div class="legLab">&nbsp Western Cool Temperate Developed Ruderal Shrubland (487.1 ha; 1.24%)</div>
                    					<div class="color-box" style="background-color:#AB916A"></div><div class="legLab">&nbsp Montane-Subalpine Grassland (404.8 ha; 1.03%)</div>
                    					<div class="color-box" style="background-color:#CA7AF5"></div><div class="legLab">&nbsp Western Cool Temperate Urban Herbaceous (355.2 ha; 0.90%)</div>
                    					<div class="color-box" style="background-color:#49ABBA"></div><div class="legLab">&nbsp Montane Riparian Forest and Woodland (306.0 ha; 0.78%)</div>
                    					<div class="color-box" style="background-color:#E3D41C"></div><div class="legLab">&nbsp Western Cool Temperate Pasture and Hayland (243.5 ha; 0.62%)</div>
                    					<div class="color-box" style="background-color:#FF8E42"></div><div class="legLab">&nbsp Shortgrass Prairie (239.3 ha; 0.61%)</div>
                    					<div class="color-box" style="background-color:#A18660"></div><div class="legLab">&nbsp Creosotebush Desert Scrub (238.4 ha; 0.60%)</div>
                    					<div class="color-box" style="background-color:#BFBFBF"></div><div class="legLab">&nbsp Barren (198.5 ha; 0.50%)</div>
                    					<div class="color-box" style="background-color:#FFFFFF"></div><div class="legLab">&nbsp Developed-Roads (209.5 ha; 0.53%)</div>
                    					<div class="color-box" style="background-color:#B86018"></div><div class="legLab">&nbsp Wetland-Herbaceous (164.2 ha; 0.42%)</div>
                    					<div class="color-box" style="background-color:#CFABD7"></div><div class="legLab">&nbsp Western Cool Temperate Urban Shrubland (158.8 ha; 0.40%)</div>
                    					<div class="color-box" style="background-color:#FF692E"></div><div class="legLab">&nbsp Introduced Upland Vegetation-Annual Grassland (128.2; 0.33%)</div>
                    					<div class="color-box" style="background-color:#4EFF3B"></div><div class="legLab">&nbsp Mixed Desert and Thornscrub (126.5 ha; 0.32%)</div>
                    					<div class="color-box" style="background-color:#F5AF36"></div><div class="legLab">&nbsp Gambel Oak-Mixed Montane Shrubland (124.9 ha; 0.32%)</div>
                    					<div class="color-box" style="background-color:#51B48D"></div><div class="legLab">&nbsp Warm Desert Riparian Forest and Woodland (99.3 ha; 0.25%)</div>
                    					<div class="color-box" style="background-color:#646464"></div><div class="legLab">&nbsp Warm Desert Sparsely Vegetated Systems II (99.0 ha; 0.25%)</div>
                    					<div class="color-box" style="background-color:#FFED77"></div><div class="legLab">&nbsp Western Cool Temperate Close Grown Crop (93.7 ha; 0.24%)</div>
                    					<div class="color-box" style="background-color:#FF7A8F"></div><div class="legLab">&nbsp Developed-Low Intensity (85.7 ha; 0.22%)</div>
                    					<div class="color-box" style="background-color:#7A8EF5"></div><div class="legLab">&nbsp Western Cool Temperate Developed Ruderal Grassland (61.5 ha; 0.16%)</div>
                    					<div class="color-box" style="background-color:#D6FFB5"></div><div class="legLab">&nbsp Ponderosa Pine Woodland (52.1 ha; 0.13%)</div>
                    					<div class="color-box" style="background-color:#FD2C4F"></div><div class="legLab">&nbsp Developed-Medium Intensity (49.0 ha; 0.12%)</div>
                    					<div class="color-box" style="background-color:#FFC87D"></div><div class="legLab">&nbsp Semi-Desert Grassland (35.4 ha; 0.09%)</div>
                    					<div class="color-box" style="background-color:#9C805C"></div><div class="legLab">&nbsp Mixed Salt Desert Scrub (25.0 ha; 0.06%)</div>
                    					<div class="color-box" style="background-color:#003300"></div><div class="legLab">&nbsp Dry-Mesic Montane Mixed Conifer Forest and Woodland (21.6 ha; 0.05%)</div>
                    					<div class="color-box" style="background-color:#6677CD"></div><div class="legLab">&nbsp Western Cool Temperate Developed Ruderal Evergreen Forest (20.1 ha; 0.05%)</div>
                    					<div class="color-box" style="background-color:#917554"></div><div class="legLab">&nbsp Juniper Savanna (17.5 ha; 0.04%)</div>
                    					<div class="color-box" style="background-color:#C29ED7"></div><div class="legLab">&nbsp Western Cool Temperate Urban Mixed Forest (9.4 ha; 0.02%)</div>
                    					<div class="color-box" style="background-color:#704489"></div><div class="legLab">&nbsp Western Cool Temperate Urban Deciduous Forest (8.2 ha; 0.02%)</div>
                    					<div class="color-box" style="background-color:#AA66CD"></div><div class="legLab">&nbsp Western Cool Temperate Urban Evergreen Forest (6.1 ha; 0.02%)</div>
                    					<div class="color-box" style="background-color:#AD001C"></div><div class="legLab">&nbsp Developed-High Intensity (4.0 ha; 0.01%)</div>
                    					<div class="color-box" style="background-color:#403DA8"></div><div class="legLab">&nbsp Western Cool Temperate Developed Ruderal Deciduous Forest (0.7 ha; 0.00%)</div>
                    					<div class="color-box" style="background-color:#FAFF77"></div><div class="legLab">&nbsp Western Cool Temperate Row Crop (0.4 ha; 0.00%)</div>
                				    </div>
            				    </div>
            				</div>
        			    </div>
            			</br>
            		</div> <!--Closes 'panel-group'-->
                </div> <!--Closes tab-pane="legend"-->
    		    <div class="tab-pane" id="download">
		            <h3>Download Data Layers:</h3>
	                <p> The data layers displayed on this webmap can be downloaded for use in desktop GIS software here.</p>
    			    </br>
                    <h4><strong>Admin layers</strong></h4>
                    <ul>
                        <li><a href="{% url 'boundary_dl' %}">Reservation boundary (.shp)</a></li>
                        <li><a href="{% url 'mbl_dl' %}">Master business leases (.shp)</a></li>
                        <li><a href="{% url 'roads_dl' %}">Reservation roads (.shp)</a></li>
                    </ul>
    			    <h4><strong>Soil layers</strong></h4>
			        <ul>
            		    <li><a href="{% url 'bulk_dens_dl' %}">Soil bulk density (.shp)</a></li>
    				    <li><a href="{% url 'compost_dl' %}">Composting medium and final cover (.shp)</a></li>
    				    <li><a href="{% url 'om_dl' %}">Percent organic matter (.shp)</a></li>
    				    <li><a href="{% url 'ph_dl' %}">Soil pH (.shp)</a></li>
    				    <li><a href="{% url 'tax_cl_dl' %}">Soil taxonomic class (.shp)</a></li>
    				    <li><a href="{% url 'texture_dl' %}">Soil texture (.shp)</a></li>
    				</ul>
			    <!--<h4><strong>Vegetation layers</strong></h4>
			        <ul>
                    		    <li><a href="./downloads/landfire-evt-tamaya.tif">Existing vegetation type, LANDFIRE</a></li>
				</ul>-->
    			    </br>
    			    </br>
                </div> <!--Closes tab-pane="download"-->
                <div class="tab-pane" id="upload">
		            <h3>Upload Data Layers:</h3>
	                <p> New data layers (GeoJSON, <b>.geojson</b> files) can be uploaded to this webmap and used along with existing data for interactivity and visualizations.</p>
    			    </br>
                    <h4><strong>Example local <i>.geojson</i> file:</strong></h4>
                    <ul>
                        <li><a href="{% url 'sample_dl' %}">Download sample GeoJSON</a></li>
                    </ul>
                    <h4><strong>Upload local <i>.geojson</i> file:</strong></h4>
                    <br>
                    <form role="form" method="POST" action="{% url 'sample_up' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="btn btn-default btn-file" style="display: block;">
                                <input name="docfile" type="file" id="upload_file" onchange="uploader()">
                                <div id="show_upload" style="overflow: auto;"></div>
                            </label>
                        </div>
                        </br>
                        <button id="send_upload" class="btn btn-danger" style="display: none" type="submit">Upload File</button>
                    </form>
                    <br>
                    <!-- List of uploaded documents -->
                    <h4><strong>Files uploaded to web app:</strong></h4>
                    {% if documents %}
                        <ul>
                            {% for document in documents %}
                                <!--li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li-->
                                <li>{{ document.docfile.name }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p id="need_docs" style="display: block;">No documents.</p>
                    {% endif %}
                    <br>
                    <hr>
                    <br>
                    <h3>Render Static GeoJSON:</h3>
	                <p>Render file <b>media/tamaya/uploaded/boundary.geojson</b> located in the web app.</p>
    			    </br>
                    <button class="btn btn-danger" onclick="show_static()">Render boundary.geojson</button>
                    <!--form role="form" method='POST' action='' enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="btn btn-default btn-file">
                                <input type="file" name="fileInput">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-danger">Upload File</button>
                        <hr>
                        <a href="{% url 'sample_up' %}"><button type="submit" class="btn btn-danger">Upload File</button></a>
                        <hr>
                        <ul>
                            <a href="{% url 'sample_up' %}" style="btn btn-danger">Upload File</a>
                        </ul>
                    </form-->
    			    </br>
    			    </br>
                </div> <!--Closes tab-pane="upload"-->
            </div> <!--Closes 'tab-content'-->
        </div> <!--Closes ID="sidebar"-->
        <div class="col-sm-9 col-lg-9" id="map">
           <!-- <div id="loading" style="display: block;">
                    <div class="loading-indicator">
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" style="width: 100%"></div>
                        </div>
                    </div>
                </div>-->
        </div>

        </div> <!--Closes ID="container"-->

{% endblock side_bar %}

{% block layers %}

<script type="text/javascript">

////////////////////////////
////// Upload Layers //////
////////////////////////////

//var sample_json = "{{ samplejson | escapejs }}";

//var sample_json = "{% url 'render_geojson' %}";

function show_static() {
    /*
        Show static geojson file on user button click.
    */

    debugger;

    try {

        var static_geojson = new L.GeoJSON.AJAX("{% url 'render_geojson' %}");
        //var static_geojson = new L.GeoJSON.AJAX(sample_json);
        static_geojson.addTo(map);

        /*$.getJSON(sample_json, function(data) {
            L.geoJson(data).addTo(map);
        });*/

        /*$.ajax({
            type: "POST",
            url: sample_json,
            dataType: 'json',
            success: function( response ) {
                geojson_layer = L.geoJson(response).addTo(map);
                map.fitBounds(geojson_layer.getBounds());
            }
        });*/

    } catch(err) {

        debugger;
        alert("Error on rendering static geoJson : 'media/tamaya/uploaded/boundary.geojson'");

    }
}

function uploader() {
    /*
        Update on SHP file upload from user.
        HTML is updated to reflect file name and size (meta data).
    */

    var x = document.getElementById("upload_file");
    var txt = " ";
    var file;
    var checkerr = false;

    if ( "files" in x ) {
        if ( x.files.length == 0 ) {
            txt = "<br>Select one or more files.<br>";
        } else {
            txt += "<hr><h5>File Breakdown</h5><br>";
            file = x.files[0];
            checkerr = true;

            if ( "name" in file ) {
                txt += "<strong>File Name: </strong>" + file.name + "<br>";
            }

            if ( "size" in file ) {
                txt += "<strong>File Size: </strong>" + file.size + " bytes <br>";
            }

            if ( "lastModifiedDate" in file ) {
                txt += "<strong>File Last Modified: </strong><br>" + file.lastModifiedDate + "<br>";
            }
        }
    } else {
        if ( x.value == "" ) {
            txt += "Select a SHP file to upload.";
        } else {
            txt += "<strong>The files property is not supported by your browser!</strong><hr>";
            txt += "<strong>File path: </strong>" + x.value;
        }
    }
    document.getElementById("show_upload").innerHTML = txt;

    if ( checkerr ) {
        document.getElementById("send_upload").style.display = "block";
        //document.getElementById("need_docs").style.display = "none";
    } else {
        document.getElementById("send_upload").style.display = "none";
        //document.getElementById("need_docs").style.display = "block";
    }
}


////////////////////////////
////// Overlay Layers //////
////////////////////////////

    var boundary=new L.GeoJSON.AJAX("{% url 'boundary' %}", {
        style: { clickable: false,
                 weight: 3,
                 color: '#000000',
                 dashArray: 3,
                 opacity: 1,
                 fill: false,
               }
    });

    var mbls=new L.GeoJSON.AJAX("{% url 'mbls' %}", {
        style: function (feature) {
                    if (feature.properties.comment === "Hyatt Tamaya") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#4FE11E',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
                    if (feature.properties.comment === "Prairie Star") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#e8f73e',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
                    if (feature.properties.comment === "Santa Ana Golf / Star Casino") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#A73BC8',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
		    if (feature.properties.comment === "Southern Sandoval Investments") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#FF7F00',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
		    if (feature.properties.comment === "Twin Warriors") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#DB5373',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
                },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.comment.toString() + "</br>" +
                "<strong>Area:&nbsp;</strong>" + feature.properties.area.toString() + "</br>" +
                "<strong>Perimeter:&nbsp;</strong>" + feature.properties.perimeter.toString()
            );
        }
    });

    var roads=new L.GeoJSON.AJAX("{% url 'roads' %}", {
        style: {color: '#797976',
                weight: 2,
                dashArray: 1,
                opacity: 1,
                clickable: true,
               },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.name.toString() + "</br>" +
                "<strong>Surface type:&nbsp;</strong>" + feature.properties.surface.toString() + "</br>" +
                "<strong>Condition:&nbsp;</strong>" + feature.properties.condition.toString()
            );
        },
    });

    var bulkDens=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
		    switch (true) {
                        case (feature.properties.bulk_densi <= 1.3):
                            return {color: "#ffffff", fillColor: "#E3CE9F", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case (feature.properties.bulk_densi > 1.3 && feature.properties.bulk_densi <= 1.4):
                            return {color: "#ffffff", fillColor: "#C5AB71", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case (feature.properties.bulk_densi > 1.4 && feature.properties.bulk_densi <= 1.5):
                            return {color: "#ffffff", fillColor: "#B6995A", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case (feature.properties.bulk_densi > 1.5 && feature.properties.bulk_densi <= 1.6):
                            return {color: "#ffffff", fillColor: "#A07F38", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case (feature.properties.bulk_densi > 1.6):
                            return {color: "#ffffff", fillColor: "#825C0B", fill: true, fillOpacity: 0.8, weight: 0.8};
			}
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "</br><strong>Bulk density:&nbsp;</strong>" + feature.properties.bulk_densi + "&nbsp;g/cm" + "3".sup() +
                "</br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var composting=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
                    switch (feature.properties.composting) {
                        case 'Poor': return {color: "#ffffff", fillColor: "#BC3812", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case 'Fair': return {color: "#ffffff", fillColor: "#553ADB", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case 'Good': return {color: "#ffffff", fillColor: '#08794E', fill: true, fillOpacity: 0.8, weight: 0.8};
                        case 'Not rated': return {color: "#ffffff", fillColor: '#B2C7EE', fill: true, fillOpacity: 0.8, weight: 0.8};
                        }
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "</br><strong>Composting cover:&nbsp;</strong>" + feature.properties.composting +
                "</br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var org_matter=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
                   switch (true) {
                       case (feature.properties.org_matter > 1.5):
                           return {color: "#ffffff", fillColor: '#397D02', fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.org_matter > 1.25 && feature.properties.org_matter <= 1.5):
                           return {color: "#ffffff", fillColor: "#567E3A", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.org_matter > 1.00 && feature.properties.org_matter <= 1.25):
                           return {color: "#ffffff", fillColor: "#61B329", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.org_matter > 0.75 && feature.properties.org_matter <= 1.00):
                           return {color: "#ffffff", fillColor: "#A6D785", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.org_matter > 0.5 && feature.properties.org_matter <= 0.75):
                           return {color: "#ffffff", fillColor: "#8AA37B", fill: true, fillOpacity: 0.8, weight: 0.8};
                       default:
                           return {color: "#ffffff", fillColor: "#687E5A", fill: true, fillOpacity: 0.8, weight: 0.8};
                   }
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "</br><strong>Organic matter:&nbsp;</strong>" + feature.properties.org_matter + "%" +
                "</br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var soil_ph=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
		    switch (feature.properties.ph_water) {
			case 7: return {color: "#ffffff", fillColor: "#d7191c", fillOpacity: 0.8, weight: 0.8};
			case 7.1: return {color: "#ffffff", fillColor: "#e65437", fillOpacity: 0.8, weight: 0.8};
			case 7.3: return {color: "#ffffff", fillColor: '#f59053', fillOpacity: 0.8, weight: 0.8};
			case 7.5: return {color: "#ffffff", fillColor: '#fdbe73', fillOpacity: 0.8, weight: 0.8};
			case 7.6: return {color: "#ffffff", fillColor: '#fede99', fillOpacity: 0.8, weight: 0.8};
			case 7.7: return {color: "#ffffff", fillColor: '#ffffbf', fillOpacity: 0.8, weight: 0.8};
			case 7.8: return {color: "#ffffff", fillColor: '#ddf1bf', fillOpacity: 0.8, weight: 0.8};
			case 7.9: return {color: "#ffffff", fillColor: '#bbe3a9', fillOpacity: 0.8, weight: 0.8};
			case 8.0: return {color: "#ffffff", fillColor: '#91cba8', fillOpacity: 0.8, weight: 0.8};
			case 8.1: return {color: "#ffffff", fillColor: '#5ea781', fillOpacity: 0.8, weight: 0.8};
                    }
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "</br><strong>Soil pH:&nbsp;</strong>" + feature.properties.ph_water +
                "</br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var taxonomy=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
                   switch (true) {
                       case (feature.properties.tax_class.includes("Calciorthids")):
                           return {color: "#ffffff", fillColor: "#d12ea1", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Haplargids")):
                           return {color: "#ffffff", fillColor: "#3a2466", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Haplustalfs")):
                           return {color: "#ffffff", fillColor: "#1c1ed1", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Torrifluvents")):
                           return {color: "#ffffff", fillColor: "#a17153", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Torriorthents")):
                           return {color: "#ffffff", fillColor: "#f17369", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Torripsamments")):
                           return {color: "#ffffff", fillColor: "#55360c", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Ustifluvents")):
                           return {color: "#ffffff", fillColor: "#7f4a21", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Ustipsamments")):
                           return {color: "#ffffff", fillColor: "#58f171", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Ustorthents")):
                           return {color: "#ffffff", fillColor: "#7c607c", fill: true, fillOpacity: 0.8, weight: 0.8};
                       default:
                           return {color: "#ffffff", fillColor: "#ffffff", fill: true, fillOpacity: 0.8, weight: 0.8};
                   }
               },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "</br><strong>Taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var texture=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
                    switch (true) {
                       case (feature.properties.texture.toLowerCase().includes("clay loam")):
                           return {color: "#ffffff", fillColor: "#CCCC00", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("cobbly loam")):
                           return {color: "#ffffff", fillColor: "#999900", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("fine sand")):
                           return {color: "#ffffff", fillColor: "#ffd700", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("loam")):
                           return {color: "#ffffff", fillColor: "#FFFF00", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("loamy sand")):
                           return {color: "#ffffff", fillColor: "#ffa500", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("sand")):
                           return {color: "#ffffff", fillColor: "#ff8c00", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("sandy loam")):
                           return {color: "#ffffff", fillColor: "#FFFF66", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("stony loam")):
                           return {color: "#ffffff", fillColor: "#666600", fill: true, fillOpacity: 0.8, weight: 0.8};

                       default:
                           return {color: "#ffffff", fillColor: "#ffffff", fill: true, fillOpacity: 0.8, weight: 0.8};
                    }
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "</br><strong>Soil texture:&nbsp;</strong>" + feature.properties.texture +
                "</br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

////// User defined layers //////

    var user_points=new L.GeoJSON.AJAX("{% url 'user_points' %}", {
        style: {clickable: true,
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.name.toString() + "</br>" +
                "<strong>Comment:&nbsp;</strong>" + feature.properties.comment.toString()
            );
        },
    });

    var user_lines=new L.GeoJSON.AJAX("{% url 'user_lines' %}", {
        style: {clickable: true,
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.name.toString() + "</br>" +
                "<strong>Comment:&nbsp;</strong>" + feature.properties.comment.toString()
            );
        },
    });

    var user_polygons=new L.GeoJSON.AJAX("{% url 'user_polygons' %}", {
        style: {clickable: true,
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.name.toString() + "</br>" +
                "<strong>Comment:&nbsp;</strong>" + feature.properties.comment.toString()
            );
        },
    });

////////////////////////////
////// Leaflet Map /////////
////////////////////////////

    var map=L.map("map", {
        zoom: 11,
        center: [35.435, -106.54],
        minZoom: 6,
        maxZoom: 20,
        layers: [recent, boundary, mbls, roads]
    });

///////////////////////////////////////
////// Add Leaflet-Draw controls //////
///////////////////////////////////////

    // Initialize the FeatureGroup to store editable layers

    var drawnItems=new L.FeatureGroup();
    map.addLayer(drawnItems);

    L.control.scale().addTo(map);
    L.easyPrint().addTo(map);

    var north=L.control({position: "bottomright"});
    north.onAdd=function(map) {
        var div=L.DomUtil.create("div", "info legend");
        div.innerHTML='<img src="{% static '/img/north_arrow.png' %}" height="40" width="40">';
        return div;
    }
    north.addTo(map);

    // Specify some custom options for the Drawing tools

    var drawOptions={
    draw: {
        polygon: {
            showArea: true
          }
	},
	edit: {
		featureGroup: drawnItems
		}
	}

	// Initialize the draw control and pass it the FeatureGroup of editable layers
	var drawControl=new L.Control.Draw(drawOptions);

	map.addControl(drawControl);

	map.on('draw:created', function (e) {
	var type=e.layerType,
		layer=e.layer;

	if (type === 'marker') {
		layer.bindPopup('A popup!');
	}

	// Do whatever else you need to. (save to db, add to map etc)
	drawnItems.addLayer(layer);
	});

    // Add opacity controls

    var opacitySlider=new L.Control.opacitySlider();
    map.addControl(opacitySlider);

    //opacitySlider.setOpacityLayer(landfire)

</script>


{% endblock layers %}
