{% extends 'base.html' %}
{% load static %}

{% block side_bar %}

    <title>{{ title }}</title>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-collapse" style="height: 34px; padding: 5px 10px; margin-right: 10px;"><i class="fa fa-ellipsis-v" style="color: white"></i></button>
            <button id="toggle" type="button" class="navbar-toggle btn" style="height: 34px; padding: 5px 10px; margin-right: 10px;"><i id="toggleIcon" class="fa fa-check-square-o" style="color: white"></i></button>
            <a class="navbar-brand" href="http://www.tamaya-nsn.gov/index.html" target="_blank_">Pueblo of Santa Ana</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav pull-left">
                <a class="navbar-brand" href="#" style="font-size: 0.75m; color: gray;">Land & Natural Assets Map</a>
            </ul>
            <!--<ul class="nav navbar-nav pull-right">
                <a class="navbar-brand" href="/tamaya/admin/logout/" style="font-size: 18px; color: grey;">Log Out</a>
            </ul>-->
        </div>
    </div>

    <div class="row" id="container">
        <div class="col-sm-3 col-lg-3" id="sidebar" style="padding: 10px; overflow: auto;">
            <ul class="nav nav-tabs" id="myTab">
                <li class="active"><a href="#layers" data-toggle="tab"><i class="fa fa-check-square-o"></i>&nbsp;Layers</a></li>
                <li><a href="#download" data-toggle="tab"><i class="fa fa-download"></i>&nbsp;Downloads</a></li>
                <li><a href="#upload" data-toggle="tab"><i class="fa fa-upload"></i>&nbsp;Import</a></li>
            </ul>

            <div class="tab-content" style="padding-top: 10px;">
                <div class="tab-pane active" id="layers">
                    <div class="panel-group">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#admin-layers">
                                        Administrative Layers
                                </a>
                            </div>
                            <div id="admin-layers" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 0px 15px;">
				    <div class="checkbox">    
				        <label>
                                            <input type="checkbox" name="overlayLayers" id="boundary" z-index="1" checked>
                                            &nbsp Reservation boundary (approximate)			
                                        </label>
                                    </div>
				    <div class="checkbox">    
				        <label>
                                            <input type="checkbox" name="overlayLayers" id="mbls" z-index="2" checked>
                                            &nbsp Master business leases					
                                        </label>
                                    </div>
				    <div class="checkbox">    
				        <label>
                                            <input type="checkbox" name="overlayLayers" id="roads" z-index="3">
                                            &nbsp Reservation roads					
                                        </label>
                                    </div>
				</div>
	                    </div>
                        </div> <!--Closes 'panel panel-default for administrative layers'-->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#hydro-layers">
                                        Hydrology Layers
                                </a>
                            </div>
                            <div id="hydro-layers" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 0px 15px;">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="watersheds" z-index="3">
                                            &nbsp Watersheds
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="subwatersheds" z-index="3">
                                            &nbsp Sub-watersheds
                                        </label>
                                    </div>
                                     <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="surfacehydro" z-index="3">
                                            &nbsp Surface hydrology
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div> <!--Closes 'panel panel-default for hydrology layers'-->

			    <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#soil-layers">
                                        Soil Layers
                                    </a>
                                </div>
                                <div id="soil-layers" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding: 0px 15px;">
					<div class="checkbox">
					    <label>
                                                <input type="checkbox" name="overlayLayers" id="bulkDens" z-index="3">
                                                &nbsp Bulk density
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="overlayLayers" id="composting" z-index="3">
                                                &nbsp Composting, medium and final cover
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="org_matter" z-index="3">
                                                &nbsp Organic matter
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="soil_ph" z-index="3">
                                                &nbsp Surface pH, weighted average
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="taxonomy" z-index="3">
                                                &nbsp Taxonomic classification
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="texture" z-index="3">
                                                &nbsp Texture
                                        </label>
                                    </div>
            		        </div>
            		    </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#user-layers">
                                        User-defined Layers
                                </a>
                            </div>
                            <div id="user-layers" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 0px 15px;">
                                    <!--<div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="user_points" z-index="3">
                                                &nbsp User points
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="user_lines" z-index="3">
                                                &nbsp User lines
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="user_polygons" z-index="3">
                                                &nbsp User polygons
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" name="overlayLayers" id="sample_boundary" z-index="3" onclick="show_static()">
                                                &nbsp Render boundary.geojson
                                        </label>
                                    </div>-->
                                    <!-- List of uploaded documents -->
                                    {% if documents %}
                                        {% for document in documents %}
                                            <!--li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li-->
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="uploadLayers" id="{{ document.docfile.name }}" z-index="3">
                                                        &nbsp {{ document.docfile.name }}
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <p>No documents.</p>
                                    {% endif %}
                                </div>
                            </div>
        	        </div> <!--Closes 'panel panel-default'-->

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#imagery">
                                        Base Layers
                                </a>
                            </div>
                            <div id="imagery" class="panel-collapse collapse in">
                                <div class="panel-body" style="padding: 0px 15px;">
                		    <div class="radio">
                		        <label>
                                            <input type="radio" name="basemapLayers" id="recent"checked>
                                                &nbsp Digital Globe imagery, no roads
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="basemapLayers" id="hybrid">
                                                &nbsp Digital Globe imagery, with roads
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="basemapLayers" id="topo">
                                                &nbsp Topography, ESRI
                                        </label>
                                    </div>
            		        </div>
        	            </div>
                        </div> <!-- closes 'Base Layers' panel -->

            	        <br>
                    </div>  <!--Closes 'panel group'-->
                </div> <!--Closes 'user-defined layers' panel-->

                <div class="tab-pane" id="download">
                    <h3>Download Data Layers:</h3>
	                <p> The data layers displayed on this webmap can be downloaded for use in desktop GIS software here.</p>
    			    <br>
                            <h4><strong>Admin layers</strong></h4>
                                <ul>
                                    <li><a href="{% url 'boundary_dl' %}">Reservation boundary (.shp)</a></li>
                                    <li><a href="{% url 'mbl_dl' %}">Master business leases (.shp)</a></li>
                                    <li><a href="{% url 'roads_dl' %}">Reservation roads (.shp)</a></li>
                                </ul>
    			    <h4><strong>Soil layers</strong></h4>
			        <ul>
            		            <li><a href="{% url 'bulk_dens_dl' %}">Soil bulk density (.shp)</a></li>
    				    <li><a href="{% url 'compost_dl' %}">Composting medium and final cover (.shp)</a></li>
    				    <li><a href="{% url 'om_dl' %}">Percent organic matter (.shp)</a></li>
    				    <li><a href="{% url 'ph_dl' %}">Soil pH (.shp)</a></li>
    				    <li><a href="{% url 'tax_cl_dl' %}">Soil taxonomic class (.shp)</a></li>
    				    <li><a href="{% url 'texture_dl' %}">Soil texture (.shp)</a></li>
    				</ul>
                            <h4><strong>Uploaded layers</strong></h4>
                                <ul>
                                    <!-- List of uploaded documents -->
                                    {% if documents %}
                                        {% for document in documents %}
                                        <!--li><a href="{% url 'sample_dl' %}">{{ document.docfile.name }}</a></li-->
                                        <form method="POST" enctype="multi-part" action="{% url 'sample_dl' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="file_name" value="{{ document.docfile.name }}"></input>
                                            <li><button class="upload-btn" id="{{ document.docfile.name }}" value="'false'">{{ document.docfile.name }}</button></li>
                                        </form>
                                        {% endfor %}
                                    {% else %}
                                        <p><i>No uploaded documents.</i></p>
                                    {% endif %}
                                </ul>
    			    <br>
    			    <br>
                </div> <!--Closes tab-pane="download"-->

                <div class="tab-pane" id="upload">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Upload Data Layers:</h3>
                            <p> New data layers (GeoJSON, <b>.geojson</b>, or SHP, <b>.shp</b>. files) can be uploaded to this webmap and used along with existing data for interactivity and visualizations.</p>
                            <div style="height: 30px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Render Static GeoJSON:</h4>
                            <p>Render file <b>media/tamaya/uploaded/boundary.geojson</b> located in the web app.</p>
                            <br>
                            <button class="btn btn-danger" onclick="show_static()">Render boundary.geojson</button>
                            <div style="height: 30px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Example local <i>.geojson</i> file:</h4>
                            <ul>
                                <!--li><a name="foo_name" value="foo_value" href="{% url 'sample_dl' %}">Download sample GeoJSON</a></li-->
                                <form method="POST" enctype="multi-part" action="{% url 'sample_dl' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="file_name" value="boundary.geojson"></input>
                                    <button id="sample_geojson" class="btn btn-info" value="'false'">Download sample GeoJSON</button>
                                </form>
                            </ul>
                            <div style="height: 15px;"></div>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Upload local <i>.geojson or .shp</i> file:</h4>
                            <form role="form" method="POST" action="{% url 'sample_up' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <!--div class="form-group">
                                    <label class="btn btn-default btn-file" style="display: block;">
                                        <input name="docfile" type="file" id="upload_file" onchange="uploader()" value="{{ request.path }}">
                                        <div id="show_upload" style="overflow: auto;"></div>
                                    </label>
                                </div-->
                                <input type="file" name="docfile" onchange="uploader()" id="upload_file">
                                <!--button type="submit">Upload File</button-->
                                <div style="height: 15px;"></div>
                                <div id="show_upload" style="padding-bottom: 15px;"></div>
                                <button id="send_upload" class="btn btn-danger" style="display: none" type="submit">Upload File</button>
                            </form>
                            <div style="height: 30px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Files uploaded to web app:</h4>
                            <!-- Show location of this file -->
                            {% if uploaded_file_url %}
                                <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
                            {% endif %}
                            <!-- List of uploaded documents -->

                            {% if documents %}
                                <ul>
                                    {% for document in documents %}
                                        <!--li id="{{ document.docfile.name }}"><a href="{% url 'sample_dl' %}">{{ document.docfile.name }}</a></li-->
                                        <form method="POST" enctype="multi-part" action="{% url 'sample_dl' %}" name="{{ document.docfile.name }}">
                                            {% csrf_token %}
                                            <input type="hidden" name="file_name" value="{{ document.docfile.name }}"></input>
                                            <li><button class="upload-btn" id="{{ document.docfile.name }}" value="'false'">{{ document.docfile.name }}</button></li>
                                        </form>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p id="need_docs" style="display: block;">No documents.</p>
                            {% endif %}
                            <div style="height: 30px;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Delete Uploaded GeoJSON:</h4>
                            <p>Clear out previously uploaded GeoJSON files from the server.</p>
                            <!--button class="btn btn-info" onclick=""><a href="{% url 'delete_up' %}">Delete files</a></button-->
                            <form role="form" method="POST" action="{% url 'delete_up' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input name="del_files" type="file" id="del_files" value="{{ request.path }}" style="display: none;">
                                <button id="del_uploads" class="btn btn-info" type="submit">Delete Files</button>
                            </form>
                            <div style="height: 50px;"></div>
                        </div>
                    </div>
                </div> <!--Closes tab-pane="upload"-->
            </div> <!--Closes 'tab-content'-->
        </div> <!--Closes ID="sidebar"-->
        <div class="col-sm-9 col-lg-9" id="map">
           <!-- <div id="loading" style="display: block;">
                    <div class="loading-indicator">
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" style="width: 100%"></div>
                        </div>
                    </div>
                </div>-->
        </div>

        </div> <!--Closes ID="container"-->

{% endblock side_bar %}

{% block layers %}

<script type="text/javascript">

////////////////////////////
////// Upload Layers //////
////////////////////////////

//var sample_json = "{{ samplejson | escapejs }}";

//var sample_json = "{% url 'render_geojson' %}";

function show_static() {
    /*
        Show static geojson file on user button click.
    */

    try {

        var static_geojson = new L.GeoJSON.AJAX("{% url 'render_geojson' %}");
        //var static_geojson = new L.GeoJSON.AJAX(sample_json);

        /*$.getJSON(sample_json, function(data) {
            L.geoJson(data).addTo(map);
        });*/

        /*$.ajax({
            type: "POST",
            url: sample_json,
            dataType: 'json',
            success: function( response ) {
                geojson_layer = L.geoJson(response).addTo(map);
                map.fitBounds(geojson_layer.getBounds());
            }
        });*/

    } catch(err) {

        debugger;
        alert("Error on rendering static geoJson : 'media/tamaya/uploaded/boundary.geojson'");

    }
}

function uploader() {
    /*
        Update on SHP file upload from user.
        HTML is updated to reflect file name and size (meta data).
    */

    var x = document.getElementById("upload_file");
    var txt = " ";
    var file;
    var checkerr = false;

    if ( "files" in x ) {
        if ( x.files.length == 0 ) {
            txt = "<br>Select one or more files.<br>";
        } else {
            txt += "<hr><h5>File Breakdown</h5><br>";
            file = x.files[0];
            checkerr = true;

            if ( "name" in file ) {
                txt += "<strong>File Name: </strong>" + file.name + "<br>";
            }

            if ( "size" in file ) {
                txt += "<strong>File Size: </strong>" + file.size + " bytes <br>";
            }

            if ( "lastModifiedDate" in file ) {
                txt += "<strong>File Last Modified: </strong><br>" + file.lastModifiedDate + "<br>";
            }
        }
    } else {
        if ( x.value == "" ) {
            txt += "Select a GeoJSON or SHP file to upload.";
        } else {
            txt += "<strong>The files property is not supported by your browser!</strong><hr>";
            txt += "<strong>File path: </strong>" + x.value;
        }
    }
    document.getElementById("show_upload").innerHTML = txt;

    if ( checkerr ) {
        document.getElementById("send_upload").style.display = "block";
        //document.getElementById("need_docs").style.display = "none";
        //OLIVES! I think what might make sense is to build a layer object here using the file id... then
        //we can use the id in the function down below to render the file via the checkbox interaction for 'uploadLayers'
    } else {
        document.getElementById("send_upload").style.display = "none";
        //document.getElementById("need_docs").style.display = "block";
    }
}

// Pulled the below code from main.js, originally written for 'overlayLayers' class in checkboxes...
// I think what makes sense is to adjust this code for the 'uploadLayers' to toggle/untoggle them
// the same way that the overlayLayers are being toggled.

    $("input:checkbox[name='uploadLayers']").change(function () {
        var layers = [];
        function sortByKey(array, key) {
            return array.sort(function (a, b) {
                var x = a[key];
                var y = b[key];
                return ((x < y) ? -1 : ((x > y) ? 1 : 0));
            });
        }
        if ($("#" + $(this).attr("id")).is(":checked")) {
            $("input:checkbox[name='uploadLayers']").each(function () {
                // Remove all overlay layers
                map.removeLayer(window[$(this).attr("id")]);
                if ($("#" + $(this).attr("id")).is(":checked")) {
                    // Add checked layers to array for sorting
                    layers.push({
                        "z-index": $(this).attr("z-index"),
                        "layer": $(this)
                    });
                }
            });
            // Sort layers array by z-index
            var orderedLayers = sortByKey(layers, "z-index");
            // Loop through ordered layers array and add to map in correct order
            $.each(orderedLayers, function () {
                map.addLayer(window[$(this)[0].layer[0].id]);
            });
        } else {
            // Simply remove unchecked layers
            map.removeLayer(window[$(this).attr("id")]);
        }
    });


////////////////////////////
////// Overlay Layers //////
////////////////////////////

    //var testRast = new L.tileLayer('/raster/tiles/1/{z}/{x}/{y}.png');


    var testTile = L.tileLayer.wms('http://localhost:8080/geoserver/iltf/wms?', {
        service: 'WMS',
        version: '1.1.0',
        request: 'GetMap',
        format: 'image/png',
        tms: 'true',
        layers: 'iltf:tamaya_test_raster',
    });

    var sample_boundary=new L.GeoJSON.AJAX("{% url 'render_geojson' %}", {
        style: { clickable: false,
                 weight: 3,
                 //color: '#000000',
                 dashArray: 3,
                 opacity: 1,
                 fill: false,
               }
    });

    var boundary=new L.GeoJSON.AJAX("{% url 'boundary' %}", {
        style: { clickable: false,
                 weight: 3,
                 color: '#000000',
                 dashArray: 3,
                 opacity: 1,
                 fill: false,
               }
    });

    var mbls=new L.GeoJSON.AJAX("{% url 'mbls' %}", {
        style: function (feature) {
                    if (feature.properties.comment === "Hyatt Tamaya") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#4FE11E',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
                    if (feature.properties.comment === "Prairie Star") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#e8f73e',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
                    if (feature.properties.comment === "Santa Ana Golf / Star Casino") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#A73BC8',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
		    if (feature.properties.comment === "Southern Sandoval Investments") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#FF7F00',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
		    if (feature.properties.comment === "Twin Warriors") {
                        return {
                            clickable: true,
                            weight: 2,
                            color: '#DB5373',
                            fill: true,
                            fillOpacity: 0.5,
                        };
                    };
                },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.comment.toString() + "<br>" +
                "<strong>Area:&nbsp;</strong>" + feature.properties.area.toString() + "<br>" +
                "<strong>Perimeter:&nbsp;</strong>" + feature.properties.perimeter.toString()
            );
        }
    });

    var roads=new L.GeoJSON.AJAX("{% url 'roads' %}", {
        style: {color: '#797976',
                weight: 2,
                dashArray: 1,
                opacity: 1,
                clickable: true,
               },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.name.toString() + "<br>" +
                "<strong>Surface type:&nbsp;</strong>" + feature.properties.surface.toString() + "<br>" +
                "<strong>Condition:&nbsp;</strong>" + feature.properties.condition.toString()
            );
        },
    });

    var watersheds = new L.GeoJSON.AJAX("{% url 'watersheds' %}", {
        style: {color: '#99BADD',
                weight: 2,
                dashArray: 1,
                opacity: 0.5,
                clickable: true,
               },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Watershed:&nbsp;</strong>" + feature.properties.hu_8_name.toString() 
            );
        },
    });

    var subwatersheds = new L.GeoJSON.AJAX("{% url 'subwatersheds' %}", {
        style: {color: '#3939b8',
                weight: 2,
                dashArray: 1,
                opacity: 1,
                clickable: false,
               },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
            );
        },
    });

    var surfacehydro = new L.GeoJSON.AJAX("{% url 'surfacehydro' %}", {
        style: {color: '#000080',
                weight: 2,
                dashArray: 1,
                opacity: 0.7,
                clickable: false,
               },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
            );
        },
    });

    var bulkDens = new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
		    switch (true) {
                        case (feature.properties.bulk_densi <= 1.3):
                            return {color: "#ffffff", fillColor: "#E3CE9F", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case (feature.properties.bulk_densi > 1.3 && feature.properties.bulk_densi <= 1.4):
                            return {color: "#ffffff", fillColor: "#C5AB71", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case (feature.properties.bulk_densi > 1.4 && feature.properties.bulk_densi <= 1.5):
                            return {color: "#ffffff", fillColor: "#B6995A", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case (feature.properties.bulk_densi > 1.5 && feature.properties.bulk_densi <= 1.6):
                            return {color: "#ffffff", fillColor: "#A07F38", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case (feature.properties.bulk_densi > 1.6):
                            return {color: "#ffffff", fillColor: "#825C0B", fill: true, fillOpacity: 0.8, weight: 0.8};
			}
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "<br><strong>Bulk density:&nbsp;</strong>" + feature.properties.bulk_densi + "&nbsp;g/cm" + "3".sup() +
                "<br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var composting=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
                    switch (feature.properties.composting) {
                        case 'Poor': return {color: "#ffffff", fillColor: "#BC3812", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case 'Fair': return {color: "#ffffff", fillColor: "#553ADB", fill: true, fillOpacity: 0.8, weight: 0.8};
                        case 'Good': return {color: "#ffffff", fillColor: '#08794E', fill: true, fillOpacity: 0.8, weight: 0.8};
                        case 'Not rated': return {color: "#ffffff", fillColor: '#B2C7EE', fill: true, fillOpacity: 0.8, weight: 0.8};
                        }
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "<br><strong>Composting cover:&nbsp;</strong>" + feature.properties.composting +
                "<br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var org_matter=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
                   switch (true) {
                       case (feature.properties.org_matter > 1.5):
                           return {color: "#ffffff", fillColor: '#397D02', fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.org_matter > 1.25 && feature.properties.org_matter <= 1.5):
                           return {color: "#ffffff", fillColor: "#567E3A", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.org_matter > 1.00 && feature.properties.org_matter <= 1.25):
                           return {color: "#ffffff", fillColor: "#61B329", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.org_matter > 0.75 && feature.properties.org_matter <= 1.00):
                           return {color: "#ffffff", fillColor: "#A6D785", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.org_matter > 0.5 && feature.properties.org_matter <= 0.75):
                           return {color: "#ffffff", fillColor: "#8AA37B", fill: true, fillOpacity: 0.8, weight: 0.8};
                       default:
                           return {color: "#ffffff", fillColor: "#687E5A", fill: true, fillOpacity: 0.8, weight: 0.8};
                   }
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "<br><strong>Organic matter:&nbsp;</strong>" + feature.properties.org_matter + "%" +
                "<br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var soil_ph=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
		    switch (feature.properties.ph_water) {
			case 7: return {color: "#ffffff", fillColor: "#d7191c", fillOpacity: 0.8, weight: 0.8};
			case 7.1: return {color: "#ffffff", fillColor: "#e65437", fillOpacity: 0.8, weight: 0.8};
			case 7.3: return {color: "#ffffff", fillColor: '#f59053', fillOpacity: 0.8, weight: 0.8};
			case 7.5: return {color: "#ffffff", fillColor: '#fdbe73', fillOpacity: 0.8, weight: 0.8};
			case 7.6: return {color: "#ffffff", fillColor: '#fede99', fillOpacity: 0.8, weight: 0.8};
			case 7.7: return {color: "#ffffff", fillColor: '#ffffbf', fillOpacity: 0.8, weight: 0.8};
			case 7.8: return {color: "#ffffff", fillColor: '#ddf1bf', fillOpacity: 0.8, weight: 0.8};
			case 7.9: return {color: "#ffffff", fillColor: '#bbe3a9', fillOpacity: 0.8, weight: 0.8};
			case 8.0: return {color: "#ffffff", fillColor: '#91cba8', fillOpacity: 0.8, weight: 0.8};
			case 8.1: return {color: "#ffffff", fillColor: '#5ea781', fillOpacity: 0.8, weight: 0.8};
                    }
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "<br><strong>Soil pH:&nbsp;</strong>" + feature.properties.ph_water +
                "<br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var taxonomy=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
                   switch (true) {
                       case (feature.properties.tax_class.includes("Calciorthids")):
                           return {color: "#ffffff", fillColor: "#d12ea1", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Haplargids")):
                           return {color: "#ffffff", fillColor: "#3a2466", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Haplustalfs")):
                           return {color: "#ffffff", fillColor: "#1c1ed1", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Torrifluvents")):
                           return {color: "#ffffff", fillColor: "#a17153", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Torriorthents")):
                           return {color: "#ffffff", fillColor: "#f17369", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Torripsamments")):
                           return {color: "#ffffff", fillColor: "#55360c", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Ustifluvents")):
                           return {color: "#ffffff", fillColor: "#7f4a21", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Ustipsamments")):
                           return {color: "#ffffff", fillColor: "#58f171", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.tax_class.includes("Ustorthents")):
                           return {color: "#ffffff", fillColor: "#7c607c", fill: true, fillOpacity: 0.8, weight: 0.8};
                       default:
                           return {color: "#ffffff", fillColor: "#ffffff", fill: true, fillOpacity: 0.8, weight: 0.8};
                   }
               },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "<br><strong>Taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

    var texture=new L.GeoJSON.AJAX("{% url 'soil_data' %}", {
        style: function(feature) {
                    switch (true) {
                       case (feature.properties.texture.toLowerCase().includes("clay loam")):
                           return {color: "#ffffff", fillColor: "#CCCC00", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("cobbly loam")):
                           return {color: "#ffffff", fillColor: "#999900", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("fine sand")):
                           return {color: "#ffffff", fillColor: "#ffd700", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("loam")):
                           return {color: "#ffffff", fillColor: "#FFFF00", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("loamy sand")):
                           return {color: "#ffffff", fillColor: "#ffa500", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("sand")):
                           return {color: "#ffffff", fillColor: "#ff8c00", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("sandy loam")):
                           return {color: "#ffffff", fillColor: "#FFFF66", fill: true, fillOpacity: 0.8, weight: 0.8};
                       case (feature.properties.texture.toLowerCase().includes("stony loam")):
                           return {color: "#ffffff", fillColor: "#666600", fill: true, fillOpacity: 0.8, weight: 0.8};

                       default:
                           return {color: "#ffffff", fillColor: "#ffffff", fill: true, fillOpacity: 0.8, weight: 0.8};
                    }
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Feature ID:&nbsp;</strong>" + feature.properties.poly_id +
                "<br><strong>Soil texture:&nbsp;</strong>" + feature.properties.texture +
                "<br><strong>Soil taxonomic class:&nbsp;</strong>" + feature.properties.tax_class, {
                closeButton: false
            });
        },
    });

////// User defined layers //////

    var user_points=new L.GeoJSON.AJAX("{% url 'user_points' %}", {
        style: {clickable: true,
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.name.toString() + "<br>" +
                "<strong>Comment:&nbsp;</strong>" + feature.properties.comment.toString()
            );
        },
    });

    var user_lines=new L.GeoJSON.AJAX("{% url 'user_lines' %}", {
        style: {clickable: true,
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.name.toString() + "<br>" +
                "<strong>Comment:&nbsp;</strong>" + feature.properties.comment.toString()
            );
        },
    });

    var user_polygons=new L.GeoJSON.AJAX("{% url 'user_polygons' %}", {
        style: {clickable: true,
        },
        onEachFeature: function(feature, layer) {
            layer.bindPopup(
                "<strong>Name:&nbsp;</strong>" + feature.properties.name.toString() + "<br>" +
                "<strong>Comment:&nbsp;</strong>" + feature.properties.comment.toString()
            );
        },
    });

////////////////////////////
////// Leaflet Map /////////
////////////////////////////

    var map=L.map("map", {
        zoom: 11,
        center: [35.435, -106.54],
        minZoom: 6,
        maxZoom: 20,
        layers: [recent, boundary, mbls, testTile]
    });

///////////////////////////////////////
////// Add Leaflet-Draw controls //////
///////////////////////////////////////

    // Initialize the FeatureGroup to store editable layers

    var drawnItems=new L.FeatureGroup();
    map.addLayer(drawnItems);

    L.control.scale().addTo(map);
    L.easyPrint().addTo(map);

    var north=L.control({position: "bottomright"});
    north.onAdd=function(map) {
        var div=L.DomUtil.create("div", "info legend");
        div.innerHTML='<img src="{% static '/img/north_arrow.png' %}" height="40" width="40">';
        return div;
    }
    north.addTo(map);

    // Specify some custom options for the Drawing tools

    var drawOptions={
    draw: {
        polygon: {
            showArea: true
          }
	},
	edit: {
		featureGroup: drawnItems
		}
	}

	// Initialize the draw control and pass it the FeatureGroup of editable layers
	var drawControl=new L.Control.Draw(drawOptions);

	map.addControl(drawControl);

	map.on('draw:created', function (e) {
	var type=e.layerType,
		layer=e.layer;

	if (type === 'marker') {
		layer.bindPopup('A popup!');
	}

	// Do whatever else you need to. (save to db, add to map etc)
	drawnItems.addLayer(layer);
	});

    // Add opacity controls

    var opacitySlider=new L.Control.opacitySlider();
    map.addControl(opacitySlider);

    //opacitySlider.setOpacityLayer(landfire)

</script>


{% endblock layers %}
