{% extends 'base.html' %}

{% block side_bar  %}

    <title>Comanche Land & Natural Assets Map</title>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle btn" data-toggle="collapse" data-target=".navbar-collapse" style="height: 34px; padding: 5px 10px; margin-right: 10px;"><i class="fa fa-ellipsis-v" style="color: white"></i></button>
            <button id="toggle" type="button" class="navbar-toggle btn" style="height: 34px; padding: 5px 10px; margin-right: 10px;"><i id="toggleIcon" class="fa fa-check-square-o" style="color: white"></i></button>
            <a class="navbar-brand" href="http://www.comanchenation.com" target="_blank_">Comanche Nation</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar-collapse">
            <ul class="nav navbar-nav pull-left">
                <a class="navbar-brand" href="#" style="font-size: 0.75m; color: gray;">Land & Natural Assets Map</a>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <a class="navbar-brand" href="{% url 'signout' %}" style="font-size: 18px; color: grey;">Log Out</a>
            </ul>
        </div>
    </div>


    <div class="row" id="container">
            <div class="col-sm-3 col-lg-3" id="sidebar" style="padding: 10px; overflow: auto;">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#layers" data-toggle="tab"><i class="fa fa-check-square-o"></i>&nbsp;Layers</a></li>
		    <li><a href="#legend" data-toggle="tab"><i class="fa fa-barcode"></i>&nbsp;Legends</a></li>
		    <li><a href="#download" data-toggle="tab"><i class="fa fa-download"></i>&nbsp;Data</a></li>
                </ul>

                <div class="tab-content" style="padding-top: 10px;">
                    <div class="tab-pane active" id="layers">
                        <div class="panel-group">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#admin-layers">
                                        Administrative Layers
                                    </a>
                                </div>
                                <div id="admin-layers" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding: 0px 15px;">
					<div class="checkbox">    
					    <label>
                                                <input type="checkbox" name="overlayLayers" id="counties" z-index="2" checked>
                                                &nbsp Counties
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="overlayLayers" id="boundaries" z-index="1" checked>
                                                &nbsp Reservation boundaries
                                            </label>
                                        </div>
					<div class="checkbox">    
					    <label>
                                                <input type="checkbox" name="overlayLayers" id="cotton" z-index="1">
                                                &nbsp Cotton County Parcels
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="overlayLayers" id="caddo" z-index="1">
                                                &nbsp Caddo County parcels
                                            </label>
                                        </div>
				    </div>
				</div>
                            </div> <!--Closes 'panel panel-default'-->

			    <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#soil-layers">
                                        Soil Layers
                                    </a>
                                </div>
                                <div id="soil-layers" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding: 0px 15px;">
					<div class="checkbox">    
					    <label>
                                                <input type="checkbox" name="overlayLayers" id="soil_pH" z-index="3">
                                                &nbsp ~~placeholder~~
                                            </label>
                                        </div>
				    </div>
				</div>
                            </div>  

			    <!--<div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#veg-layers">
                                        Vegetation Layers
                                    </a>
                                </div>
                                <div id="veg-layers" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding: 0px 15px;">
					<div class="checkbox">    
					    <label>
                                                <input type="checkbox" name="overlayLayers" id="landfire" z-index="99">
                                                &nbsp Existing vegetation type, LANDFIRE	
                                            </label>
                                        </div>
				    </div>
				</div>
                            </div> --> 
							
			    <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion_" href="#imagery">
                                        Base Layers
                                    </a>
                                </div>
                                <div id="imagery" class="panel-collapse collapse in">
                                    <div class="panel-body" style="padding: 0px 15px;">
					<div class="radio">
					    <label>
                                                <input type="radio" name="basemapLayers" id="esriWorld"checked>
                                                &nbsp World Imagery, ESRI		
                                            </label>
                                        </div>
                                        <div class="radio">
					    <label>
                                                <input type="radio" name="basemapLayers" id="topo">
                                                &nbsp Topography, ESRI		
                                            </label>
                                        </div>
					<div class="radio">    
					    <label>
                                                <input type="radio" name="basemapLayers" id="osmBaseMap">
                                                &nbsp Open Street Map
                                            </label>
                                        </div>                                     
				    </div> 
			        </div>
			    </div> <!--Closes 'panel panel-default'-->
			 </br>

			</div>  <!--Closes 'panel group'-->
                    </div> <!--Closes id='layers'-->

		    <div class="tab-pane" id="legend">
		        <div class="panel-group">

			</div> <!--Closes 'panel-group'-->
                    </div> <!--Closes tab-pane="legend"-->  

		    <div class="tab-pane" id="download">
			<h3>Download Data Layers:</h3>
			    <p> The data layers displayed on this webmap can be downloaded for use in desktop GIS software here.</p>
			    </br>
			    <!--<h4><strong>Soil layers</strong></h4>
			        <ul>
                    		    <li><a href="./downloads/ph_surface_weighted_average.zip">Soil surface pH, weighted average</a></li>
				    <li><a href="./downloads/bulk_density_1_3_bar.zip">Soil bulk density</a></li>
				    <li><a href="./downloads/organic_matter.zip">Organic matter</a></li>
				    <li><a href="./downloads/soil_taxonomy.zip">Soil taxonomic classification</a></li>
				    <li><a href="./downloads/surface_texture_dcp.zip">Surface soil texture</a></li>
				    <li><a href="./downloads/composting_medium_and_final_cover.zip">Compost</a></li>
				</ul>
			    <h4><strong>Vegetation layers</strong></h4>
			        <ul>
                    		    <li><a href="./downloads/landfire-evt-tamaya.tif">Existing vegetation type, LANDFIRE</a></li>
				</ul>-->
			    </br>
			    </br>
                                          
                     </div> <!--Closes tab-pane="download"-->

                </div> <!--Closes 'tab-content'-->
            </div> <!--Closes ID="sidebar"-->

        <div class="col-sm-9 col-lg-9" id="map">
           <!-- <div id="loading" style="display: block;">
                    <div class="loading-indicator">
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" style="width: 100%"></div>
                        </div>
                    </div>
                </div>-->
        </div>

        </div> <!--Closes ID="container"-->


{% endblock side_bar %}

{% block layers %}

<script type="text/javascript">

////////////////////////////
////// Overlay Layers //////
////////////////////////////

    var counties = new L.GeoJSON.AJAX("{% url 'counties' %}", {
        style: function (feature) {
             if (feature.properties.name === "Caddo") {
                 return { 
                     clickable: false,
                     weight: 2,
                     color: '#4FE11E',
                     dashArray: 3,
                     fill: true,
                     fillOpacity: 0.2,
                 };
             };
             if (feature.properties.name === "Comanche") {
                 return { 
                     clickable: false,
                     weight: 2,
                     color: '#e8f73e',
                     dashArray: 3,
                     fill: true,
                     fillOpacity: 0.2,
                 };
             };
             if (feature.properties.name === "Cotton") {
                 return { 
                     clickable: false,
                     weight: 2,
                     color: '#A73BC8',
                     dashArray: 3,
                     fill: true,
                     fillOpacity: 0.2,
                 };
             };
             if (feature.properties.name === "Grady") {
                 return { 
                     clickable: false,
                     weight: 2,
                     color: '#FF7F00',
                     dashArray: 3,
                     fill: true,
                     fillOpacity: 0.2,
                 };
             };
             if (feature.properties.name === "Kiowa") {
                 return { 
                     clickable: false,
                     weight: 2,
                     color: '#DB5373',
                     dashArray: 3,
                     fill: true,
                     fillOpacity: 0.2,
                 };
             };
             if (feature.properties.name === "Stephens") {
                 return { 
                     clickable: false,
                     weight: 2,
                     color: '#800000',
                     dashArray: 3,
                     fill: true,
                     fillOpacity: 0.2,
                 };
             };
             if (feature.properties.name === "Tillman") {
                 return { 
                     clickable: false,
                     weight: 2,
                     color: '#00008B',
                     dashArray: 3,
                     fill: true,
                     fillOpacity: 0.2,
                 };
             };
         }
    });

    var boundaries = new L.GeoJSON.AJAX("{% url 'boundaries' %}", {
        style: { clickable: true,
                 weight: 3,
                 color: '#000000',
                 dashArray: 3,
                 fill: false,
               },
    });

    var cotton = new L.GeoJSON.AJAX("{% url 'cotton' %}", {
        style: { clickable: false,
                 weight: 1,
                 color: '#040289',
                 dashArray: 1,
                 opacity: 0.7,
               }
    });

    var caddo = new L.GeoJSON.AJAX("{% url 'caddo' %}", {
        style: { clickable: false,
                 weight: 1,
                 color: '#052793',
                 dashArray: 1,
                 fill: true,
                 fillOpacity: 0.2,
               }
    });

////////////////////////////
////// Leaflet Map /////////
////////////////////////////

    var map = L.map("map", {
        zoom: 8,
        center: [34.79, -98.45], 
        minZoom: 6,
        maxZoom: 20,
        layers: [esriWorld, counties, boundaries]
    });

///////////////////////////////////////
////// Add Leaflet-Draw controls //////
///////////////////////////////////////

    // Initialize the FeatureGroup to store editable layers

    var drawnItems = new L.FeatureGroup();
    map.addLayer(drawnItems);

    // Specify some custom options for the Drawing tools

	var drawOptions = {
	draw: {
		polygon: {
			showArea: true
			}
	},
	edit: {
		featureGroup: drawnItems
		}
	}

	// Initialize the draw control and pass it the FeatureGroup of editable layers
	var drawControl = new L.Control.Draw(drawOptions);
	
	map.addControl(drawControl);

	map.on('draw:created', function (e) {
	var type = e.layerType,
		layer = e.layer;

	if (type === 'marker') {
		layer.bindPopup('A popup!');
	}

	// Do whatever else you need to. (save to db, add to map etc)
	drawnItems.addLayer(layer);
	});

    // Add opacity controls

    var opacitySlider = new L.Control.opacitySlider();
    map.addControl(opacitySlider);

    //opacitySlider.setOpacityLayer(landfire)

</script>


{% endblock layers %}
