{% block vector_layers %}

	<script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.4/randomColor.min.js'></script>


<script>

///////////////////////////
////// Vector Layers //////
///////////////////////////

    function popupFunc(feature, layer) {
            var popupContent = '';
            for (var k in feature.properties) {
                     var v = String(feature.properties[k]);
                     popupContent += '<strong>' + k + '</strong>' + ': ' + v + '</br>';
            };
            return layer.bindPopup(popupContent);
    };

    function rndmPolys(feature) {
	    var col = randomColor()
	    return {color: col,
		    weight: 3 };
    };

    function stylePolys(feature, prop) {
	    d = feature.properties.get(prop);
	    return d == 'ST. MARYS DRAINAGE BASIN' ? {color: '#00FF7F', opacity: 0.7}:
		    {color: '#ffffff', opacity: 1};
    };

    var baseVectorURL = 'http://216.218.220.139:8081/geoserver/iltf/ows?service=WFS&version=1.1.0&request=GetFeature&srsName=EPSG:4326&outputFormat=json&format_options=callback:loadGeoJson'

    var buff_bndry = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_buff_bndry', {
        style: {clickable: true,
                fill: true,
		opacity: 0,
                fillOpacity: 0,
                zIndex: -100,
            },
    });



    var boundary = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_boundary', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var buff_bndry = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_buff_bndry', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var counties = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_counties', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var districts = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_districts', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var existing_wm = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_existing_wm', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var lagoon = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_lagoon', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var lift_stations = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_lift_stations', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var nsi_flowlines = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_nsi_flowlines', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var ownership = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_ownership', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var pumphouses = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_pumphouses', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var range_units = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_range_units', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var res_soils = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_res_soils', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var sewage_lines = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_sewage_lines', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var storage_tanks = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_storage_tanks', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });

    var document = new L.GeoJSON.AJAX(baseVectorURL + '&typeName=iltf:shbt_document', {
        style: {clickable: false,
                weight: 3,
	        color: '#000000',
	        fill: true,
	    },
	onEachFeature: popupFunc
    });



////////////////////////////
////// Leaflet Map /////////
////////////////////////////

    map.setView(new L.LatLng(46.4188, -84.4149), 11);
    map.addLayer(boundary);

</script>

{% endblock vector_layers %}
